<footer class="m-5">
    <div class="bar bg-primary-color d-flex py-4 text-white fw-bolder align-items-center">
        <p class="py-0 my-0 overflow-hidden text-nowrap">
            outdoor & online trainers
            <img src="~/images/star.svg" alt="star icon" /> personal training
            <img src="~/images/star.svg" alt="star icon" /> live classes
            <img src="~/images/star.svg" alt="star icon" /> personal trainers
            <img src="~/images/star.svg" alt="star icon" /> personal training
        </p>
    </div>

    <div class="footer-content m-5">
        <div class="container">
            <div class="row row-cols-2 row-cols-md-4 g-5">
                <div class="logo">
                    <div class="inner">
                        <div class="image">
                            <img src="~/images/logo.jpg" alt="our logo" />
                        </div>
                        <p class="fs-18 mt-2">
                            Push harder, go further. Your <br />
                            fitness journey starts today!
                        </p>
                    </div>
                </div>

                <div class="contact">
                    <h4 class="fw-bolder text-uppercase mb-4">contact us</h4>
                    <ul>
                        <li class="d-flex align-items-center gap-2">
                            <div class="icon">
                                <img src="~/images/phone icon.jpg" alt="phone icon" />
                            </div>
                            <p>+91 123 456 789</p>
                        </li>
                        <li class="d-flex align-items-center gap-2">
                            <div class="icon">
                                <img src="~/images/message icon.jpg" alt="message icon" />
                            </div>
                            <p>info@gmail.com</p>
                        </li>
                    </ul>
                </div>

                <div class="time">
                    <h4 class="fw-bolder text-uppercase mb-4">our gym timing</h4>
                    <p>
                        Mon - Fri : 08:00 AM - 10:00 PM <br />Sat - Sun : 08:00 AM -
                        09:00 PM
                    </p>
                </div>

                <div class="location">
                    <h4 class="fw-bolder text-uppercase mb-4">our location</h4>
                    <p>
                        2715 Ash Dr. San Jose, South <br />
                        Dakota 83475
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
